#wrapper {
  height: auto;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}
header {
  z-index: 100;
  -position: absolute;
  width: 100%;
  height: 60px;
}
nav {
  background-color: transparent;
  color: white;
  z-index: 150;
}
nav ul {
  padding: 0;
}
ul li {
  list-style: none;
}
nav a {
  display: block;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.view1 {
  width: 100%;
  text-align: center;
}
.view2 img {
  width: 100%;
}
.view3 {
  width: 100%;
  display: inline-flex;
  margin-top: 2vh;
}
.view3_1 {
  width: 100%;
  text-align: center;
}
.view3_2 {
  width: 30%;
  text-align: right;
}
.view3_2 img {
  width: 100%;
  margin-top: 60%;
}
.view4 {
  width: 100%;
  text-align: center;
  margin-top: 4vh;
}
.view4 img {
  width: 100%;
  margin-top: 4vh;
}
.view5 {
  width: 100%;
  text-align: center;
  margin-top: 8vh;
}
.view5_img.mb_off {
  width: 100%;
  margin-top: 4vh;
  padding: 0 20px;
}
.view5_img.pc_off {
  width: 100%;
  margin-top: 4vh;
  padding: 0 50px;
}
.view6 {
  width: 100%;
  text-align: center;
  margin-top: 4vh;
}
.view6 img {
  width: 100%;
}
.view7 {
  width: 100%;
  text-align: center;
  margin-top: 4vh;
}
.view7 img {
  width: 100%;
}

.text-grad {
  background: linear-gradient(110deg, #ba2758, #ff0063 75%, #ba2758);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255,0.0);
  color: #ff0000;
}
.logo {
  position: absolute;
  top: 3px;
  z-index: 2010;
}
.header-left {
  float: left;
}
.header-right {
  float: right;
  z-index: 110;
}
.text_left {
  text-align: left;
}
.text_right {
  text-align: right;
}


@media screen and (min-width: 769px) and (orientation:landscape) {
  body {
    font-family: sans-serif;
    font-size: 10px;
    margin: 0;
  }
  nav ul {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 6px;
    list-style-type: none;
  }
  .pc_off {
    display: block;
  }
  .mb_off {
    display: none;
  }
  .header-main {
    padding: 0 50px;
  }
  .nav-item {
    margin: 0px 20px;
    z-index: 120;
    cursor: pointer;
    display: inline-block;
  }
  .view_inner {
    width: 100%;
    padding: 0 8%;
  }
  .view1 img {
    width: 100%;
    height: calc(100vh - 58px);
  }
  .view1_link img {
    width: 30vw;
    height: 15vh;
    transform: translate(10vw, -25vh);
  }
  .view2 {
    width: 100%;
    text-align: center;
    margin-top: -5vh;
  }
  .view3_1 img {
    width: 40%;
    padding: 20px;
  }
  #session li {
    padding: 10px 20%;
  }
  .link_btn {
    width: 100%;
  }
  .link_btn img {
    width: 100%;
  }
  .view8 {
    width: 100%;
    text-align: center;
    z-index: 10;
    margin-top: -25vh;
    padding: 5vh 20vw;
  }
  .link2_btn {
    width: 100%;
    -padding: 5vh 28vw;
  }
  .service_text {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    animation: bound 0.8s ease-out 0s alternate forwards running infinite;
  }
  .copyright {
    text-align: center;
    font-size: 1rem;
    padding: 3vh 0;
    color: #fff;
  }
  .view5_box {
    border: 15px solid #e6316d;
    border-radius: 10px;
    margin: 0 3%;
  }
  .view5_title {
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    margin: 0;
  }
  .view5_and {
    font-size: 1.6rem;
    padding: 0 4px;
  }
  .view5_tuki_title {
    font-size: 3.5rem;
    font-family: serif;
    padding-left: 20px;
    letter-spacing: 0;
  }
  .view5_small {
    font-size: 1.5rem;
  }
  .view5_tani {
    font-size: 1rem;
  }
  .view5_schedule {
    font-size: 2.2rem;
    padding-left: 10px;
  }
  .view5_table {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
  }
  .view5_table tbody tr .view5_th {
    font-family: serif;
    font-size:3.5rem;
    font-weight: bold;
  }
  .view5_table tbody tr .view5_td {
    font-size:3.5rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
  }
  .view5_box_inner {
    padding: 0 10%;
  }
  .view5_timeschedule {
    border: 2px solid #e6316d;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .view5_timeschedule_title {
    background: #fff;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    margin: -20px 120px 0px 120px;
  }
  .view5_timetable {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .place {
    font-weight: normal;
    font-size: 2.8rem;
  }
  .youbi {
    font-weight: normal;
    letter-spacing: 0.5rem;
    font-family: sans-serif;
    font-size: 2rem;
    padding: 0 5px;
  }
  .kakko {
    font-size: 1.6rem;
  }
  .view5_kobetsuschedule {
    border: 2px solid #e6316d;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .view5_kobetsuschedule_title {
    background: #fff;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    margin: -20px 120px 0px 120px;
  }
  .view5_kobetsuschedule ul {
    padding: 0;
    margin: 5px 0;
  }
  .view5_kobetsuschedule ul li {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 20px;
  }
  .kobetsu_text {
    font-size: 1.2rem;
    margin: 0;
  }
  .gentei {
    font-size: 3rem;
    font-weight: bold;
    color: #e6316d;
    padding: 0 5px;
  }
  .circle_back {
    position: absolute;
    opacity: 0.8;
    transform: translateX(-10px);
  }
}

@media screen and (max-width: 768px) {
  body {
    font-family: sans-serif;
    font-size: 8px;
    margin: 0;
  }
  .pc_off {
    display: none;
  }

  .mb_off {
    display: block;
  }
  .nav-item {
    margin: 8px 2px;
    z-index: 120;
    cursor: pointer;
    display: inline-block;
  }
  .view_inner {
    width: 100%;
    padding: 0 8px;
  }
  .nav-item a img {
    width: 80px;
  }
  .view1 img {
    width: 100%;
  }
  .view1_link img {
    width: 100%;
    padding: 1vh 22vw;
  }
  .view2 {
    width: 100%;
    text-align: center;
    margin-top: 5vh;
  }
  .view3_1 img {
    width: 40%;
    padding: 0px;
  }
  #session li {
    padding: 10px 10vw;
  }
  .link_btn {
    width: 100%;
  }
  .link_btn img {
    width: 100%;
  }
  .view8 {
    width: 100%;
    text-align: center;
    z-index: 10;
    margin-top: -13vh;
    padding: 5vh 22vw;
  }
  .link2_btn {
    width: 100%;
    -padding: 5vh 22vw;
  }
  .service_text {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    animation: bound 0.8s ease-out 0s alternate forwards running infinite;
  }
  .copyright {
    text-align: center;
    font-size: 0.8rem;
    padding: 3vh 0;
    color: #fff;
  }
  .view5_box {
    border: 5px solid #e6316d;
    border-radius: 10px;
    margin: 0 3vw;
  }
  .view5_title {
    font-size: 1rem;
    font-weight: 900;
    margin: 0;
  }
  .view5_and {
    font-size: 0.5rem;
    padding: 0 4px;
  }
  .view5_tuki_title {
    font-size: 1rem;
    font-family: serif;
    padding-left: 5px;
    letter-spacing: 0;
  }
  .view5_small {
    font-size: 0.6rem;
  }
  .view5_tani {
    font-size: 0.5rem;
  }
  .view5_schedule {
    font-size: 1rem;
    padding-left: 3px;
  }
  .view5_table {
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
  .view5_table tbody tr .view5_th {
    font-family: serif;
    font-size:1.3rem;
    font-weight: bold;
  }
  .view5_table tbody tr .view5_td {
    font-size:1.3rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
  }
  .view5_box_inner {
    padding: 0 5vw;
  }
  .view5_timeschedule {
    border: 2px solid #e6316d;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .view5_timeschedule_title {
    background: #fff;
    font-size: 1rem;
    margin: -15px 40px 0px 40px;
  }
  .view5_timetable {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
  }
  .place {
    font-weight: normal;
    font-size: 0.8rem;
  }
  .youbi {
    font-weight: normal;
    letter-spacing: 0.2rem;
    font-family: sans-serif;
    font-size: 0.8rem;
    padding: 0 5px;
  }
  .kakko {
    font-size: 0.6rem;
  }
  .view5_kobetsuschedule {
    border: 2px solid #e6316d;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .view5_kobetsuschedule_title {
    background: #fff;
    font-size: 1rem;
    margin: -15px 40px 0px 40px;
  }
  .view5_kobetsuschedule ul {
    padding: 0;
    margin: 5px 0;
  }
  .view5_kobetsuschedule ul li {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 20px;
  }
  .kobetsu_text {
    font-size: 0.7rem;
    margin: 0;
  }
  .gentei {
    font-size: 1rem;
    font-weight: bold;
    color: #e6316d;
    padding: 0 5px;
  }
  .circle_back {
    position: absolute;
    opacity: 0.8;
    transform: translateX(-10px);
  }
}
@media screen and (max-width: 768px) and (orientation: landscape) {
  body {
    font-family: sans-serif;
    font-size: 8px;
    margin: 0;
  }
   nav ul {
     margin: 0;
   }
   .pc_off {
     display: block;
   }

   .mb_off {
     display: none;
   }

   .nav-item a img {
     width: 120px;
   }
   .view1 img {
     width: 100%;
     height: calc(100vh - 58px);
   }
   .view1_link img {
     width: 100%;
     padding: 1vh 22vw;
     height: 100%;
   }
   .view8 {
     width: 100%;
     text-align: center;
     z-index: 10;
     margin-top: -28vh;
   }
   .service_text {
     text-align: center;
     font-size: 2rem;
     font-weight: bold;
     animation: bound 0.8s ease-out 0s alternate forwards running infinite;
   }
   .copyright {
     text-align: center;
     font-size: 1rem;
     padding: 3vh 0;
     color: #fff;
   }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
  .pc_off {
    display: block;
  }
  .mb_off {
    display: none;
  }
  .view5_box {
    border: 10px solid #e6316d;
    border-radius: 10px;
    margin: 0 3vw;
  }
  .view5_title {
    font-size: 2.2rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    margin: 0;
  }
  .view5_and {
    font-size: 1.5rem;
    padding: 0 4px;
  }
  .view5_tuki_title {
    font-size: 2.2rem;
    font-family: serif;
    padding-left: 15px;
    letter-spacing: 0;
  }
  .view5_small {
    font-size: 1.5rem;
  }
  .view5_tani {
    font-size: 0.5rem;
  }
  .view5_schedule {
    font-size: 1.8rem;
    padding-left: 8px;
  }
  .view5_table {
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
  .view5_table tbody tr .view5_th {
    font-family: serif;
    font-size:2.5rem;
    font-weight: bold;
  }
  .view5_table tbody tr .view5_td {
    font-size:2.5rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
  }
  .view5_box_inner {
    padding: 0 5vw;
  }
  .view5_timeschedule {
    border: 2px solid #e6316d;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .view5_timeschedule_title {
    background: #fff;
    font-size: 1.8rem;
    margin: -20px 100px 0px 100px;
  }
  .view5_timetable {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .place {
    font-weight: normal;
    font-size: 1.8rem;
  }
  .youbi {
    font-weight: normal;
    letter-spacing: 0.2rem;
    font-family: sans-serif;
    font-size: 1.8rem;
    padding: 0 5px;
  }
  .kakko {
    font-size: 1.6rem;
  }
  .view5_kobetsuschedule {
    border: 2px solid #e6316d;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .view5_kobetsuschedule_title {
    background: #fff;
    font-size: 1.8rem;
    margin: -20px 100px 0px 100px;
  }
  .view5_kobetsuschedule ul {
    padding: 0;
    margin: 5px 0;
  }
  .view5_kobetsuschedule ul li {
    display: inline-block;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 0 20px;
  }
  .kobetsu_text {
    font-size: 1.2rem;
    margin: 0;
  }
  .gentei {
    font-size: 2.5rem;
    font-weight: bold;
    color: #e6316d;
    padding: 0 5px;
  }
  .circle_back {
    position: absolute;
    opacity: 0.8;
    transform: translateX(-10px);
  }
  .service_text {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    animation: bound 0.8s ease-out 0s alternate forwards running infinite;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
  .pc_off {
    display: block;
  }
  .mb_off {
    display: none;
  }
  .view5_box {
    border: 10px solid #e6316d;
    border-radius: 10px;
    margin: 0 2%;
  }
  .view5_title {
    font-size: 2.1rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    margin: 0;
  }
  .view5_and {
    font-size: 1.5rem;
    padding: 0 4px;
  }
  .view5_tuki_title {
    font-size: 2.2rem;
    font-family: serif;
    padding-left: 15px;
    letter-spacing: 0;
  }
  .view5_small {
    font-size: 1.5rem;
  }
  .view5_tani {
    font-size: 0.5rem;
  }
  .view5_schedule {
    font-size: 1.8rem;
    padding-left: 8px;
  }
  .view5_table {
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
  .view5_table tbody tr .view5_th {
    font-family: serif;
    font-size:2.5rem;
    font-weight: bold;
  }
  .view5_table tbody tr .view5_td {
    font-size:2.5rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
  }
  .view5_box_inner {
    padding: 0 5vw;
  }
  .view5_timeschedule {
    border: 2px solid #e6316d;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .view5_timeschedule_title {
    background: #fff;
    font-size: 1.8rem;
    margin: -20px 100px 0px 100px;
  }
  .view5_timetable {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .place {
    font-weight: normal;
    font-size: 1.8rem;
  }
  .youbi {
    font-weight: normal;
    letter-spacing: 0.2rem;
    font-family: sans-serif;
    font-size: 1.8rem;
    padding: 0 5px;
  }
  .kakko {
    font-size: 1.6rem;
  }
  .view5_kobetsuschedule {
    border: 2px solid #e6316d;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .view5_kobetsuschedule_title {
    background: #fff;
    font-size: 1.8rem;
    margin: -20px 100px 0px 100px;
  }
  .view5_kobetsuschedule ul {
    padding: 0;
    margin: 5px 0;
  }
  .view5_kobetsuschedule ul li {
    display: inline-block;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 0 20px;
  }
  .kobetsu_text {
    font-size: 1.2rem;
    margin: 0;
  }
  .gentei {
    font-size: 2.5rem;
    font-weight: bold;
    color: #e6316d;
    padding: 0 5px;
  }
  .circle_back {
    position: absolute;
    opacity: 0.8;
    transform: translateX(-10px);
  }
}
@media screen and (min-width: 769px) and (orientation:portrait) {
  body {
    font-family: sans-serif;
    font-size: 10px;
    margin: 0;
  }
  nav ul {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 6px;
    list-style-type: none;
  }
  .pc_off {
    display: block;
  }
  .mb_off {
    display: none;
  }
  .header-main {
    padding: 0 50px;
  }
  .nav-item {
    margin: 0px 20px;
    z-index: 120;
    cursor: pointer;
    display: inline-block;
  }
  .view_inner {
    width: 100%;
    padding: 0;
  }
  .view1 img {
    width: 100%;
  }
  .view1_link img {
    padding: 4% 20% 15% 20%;
  }
  .view2 {
    width: 100%;
    text-align: center;
    margin-top: -5vh;
  }
  .view3_1 img {
    width: 40%;
    padding: 20px;
  }
  #session li {
    padding: 10px 20%;
  }
  .link_btn {
    width: 100%;
  }
  .link_btn img {
    width: 100%;
  }
  .view8 {
    width: 100%;
    text-align: center;
    z-index: 10;
    margin-top: -13vh;
    padding: 5vh 20vw;
  }
  .link2_btn {
    width: 100%;
    -padding: 5vh 28vw;
  }
  .service_text {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    animation: bound 0.8s ease-out 0s alternate forwards running infinite;
  }
  .copyright {
    text-align: center;
    font-size: 1rem;
    padding: 3vh 0;
    color: #fff;
  }
  .view5_box {
    border: 15px solid #e6316d;
    border-radius: 10px;
    margin: 0 3vw;
  }
  .view5_title {
    font-size: 3.3rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    margin: 0;
  }
  .view5_and {
    font-size: 1.6rem;
    padding: 0 4px;
  }
  .view5_tuki_title {
    font-size: 3.5rem;
    font-family: serif;
    padding-left: 20px;
    letter-spacing: 0;
  }
  .view5_small {
    font-size: 1.5rem;
  }
  .view5_tani {
    font-size: 1rem;
  }
  .view5_schedule {
    font-size: 2.2rem;
    padding-left: 10px;
  }
  .view5_table {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
  }
  .view5_table tbody tr .view5_th {
    font-family: serif;
    font-size:3.5rem;
    font-weight: bold;
  }
  .view5_table tbody tr .view5_td {
    -font-family: serif;
    font-size:3.5rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
  }
  .view5_box_inner {
    padding: 0 10vw;
  }
  .view5_timeschedule {
    border: 2px solid #e6316d;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .view5_timeschedule_title {
    background: #fff;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    margin: -20px 120px 0px 120px;
  }
  .view5_timetable {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .place {
    font-weight: normal;
    font-size: 2.8rem;
  }
  .youbi {
    font-weight: normal;
    letter-spacing: 0.5rem;
    font-family: sans-serif;
    font-size: 2rem;
    padding: 0 5px;
  }
  .kakko {
    font-size: 1.6rem;
  }
  .view5_kobetsuschedule {
    border: 2px solid #e6316d;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .view5_kobetsuschedule_title {
    background: #fff;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    margin: -20px 120px 0px 120px;
  }
  .view5_kobetsuschedule ul {
    padding: 0;
    margin: 5px 0;
  }
  .view5_kobetsuschedule ul li {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 20px;
  }
  .kobetsu_text {
    font-size: 1.2rem;
    margin: 0;
  }
  .gentei {
    font-size: 3rem;
    font-weight: bold;
    color: #e6316d;
    padding: 0 5px;
  }
  .circle_back {
    position: absolute;
    opacity: 0.8;
    transform: translateX(-10px);
  }
}

@media screen and (min-width: 0em) and (max-width: 46.8125em) {
  .c-accordion-list__head {
    font-size: 1rem;
    border-width: 1px;
    padding-bottom: .5rem
  }
}

.c-accordion-list__content {
  display: none
}

.c-accordion-list__content ul li {
  padding: 1.5rem .5rem;
  border-bottom: 1px solid #053657
}

@media screen and (min-width: 0em) and (max-width: 46.8125em) {
  .c-accordion-list__content ul li {
    padding: 1rem .5rem
  }
}

.c-accordion-list__content ul li a {
  font-weight: 400
}

.c-accordion__wrap {
  margin-bottom: 5rem
}

.c-accordion__wrap:last-child {
  margin-bottom: 0
}

.c-accordion__block {
  border: 1px solid rgba(5, 54, 87, 0.3);
  padding: 0 2rem;
  margin-bottom: 1rem;
  line-height: 1.7;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05)
}

@media screen and (min-width: 0em) and (max-width: 46.8125em) {
  .c-accordion__block {
    padding: 0 1.25rem;
    margin-bottom: .5rem
  }
}

.c-accordion__head {
  display: flex;
  align-items: flex-start;
  padding: 1.5rem 1.5rem 1.5rem 0;
  cursor: pointer;
  position: relative
}

@media screen and (min-width: 0em) and (max-width: 46.8125em) {
  .c-accordion__head {
    padding: 1.25rem 2rem 1.25rem 0
  }
}

.c-accordion__heading {
  margin-bottom: 2.5rem !important
}

@media screen and (min-width: 0em) and (max-width: 46.8125em) {
  .c-accordion__heading {
    margin-bottom: 2rem !important
  }
}

.c-accordion__title {
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  color: #053657;
  padding-top: .375rem
}

.c-accordion__text {
  font-size: 1.2rem
}

@media screen and (min-width: 0em) and (max-width: 46.8125em) {
  .c-accordion__title {
    padding-top: 0
  }
}


.c-accordion__icon {
  color: #053657;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.375rem;
  background-color: #F0EB47;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1000px;
  margin-right: 1rem;
  padding-left: .125rem
}

@media screen and (min-width: 0em) and (max-width: 46.8125em) {
  .c-accordion__icon {
    width: 2rem;
    height: 2rem;
    font-size: 1.125rem
  }
}

.c-accordion__icon.is-color-accent {
  color: #fff;
  background-color: #065C96;
  position: absolute;
  top: 1rem;
  left: 0
}

.c-accordion__content {
  padding: 0 0 0 3.5rem;
  position: relative;
  border-top: 0px solid rgba(5, 54, 87, 0.3);
  display: block;
  height: 0;
  overflow: hidden;
  transition-duration: 0.3s;
}
.is-open.c-accordion__content {
  padding: 1.5rem 0 1.5rem 3.5rem;
  display: block;
  height: max-content;
  border-top: 1px solid rgba(5, 54, 87, 0.3);
}

@media screen and (min-width: 0em) and (max-width: 46.8125em) {
  .c-accordion__content {
    padding: 0 0 0 3rem;
  }
  .is-open.c-accordion__content {
    padding: 1rem 0 1rem 3rem;
    display: block;
    height: max-content;
    border-top: 1px solid rgba(5, 54, 87, 0.3);
  }
}

.c-accordion__pagetop {
  text-align: right
}

.c-accordion__pagetop a {
  text-decoration: none;
  font-size: .875rem
}

.c-accordion__pagetop a i {
  margin-right: .5rem
}

#footer {
  bottom: 0;
  padding: 4vh 0;
  background: #303030;
  text-align: right;
}
.privacy_link {
  color: white;
  padding-right: 3vw;
  text-decoration: none;
  font-size: 0.8rem;
}

.animation_btn {
  display: block;
  position: relative;
  overflow: hidden;
}
.imgbtn:hover {
  opacity: 0.8;
  transition-duration: 0.5s;
}
.animation_btn:before {
    display: block;
    position: absolute;
    left: -20%;
    top: -20%;
    content: "";
    width: 25px;
    height: 140%;
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    background: linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)),color-stop(100%,rgba(255,255,255,0)));
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #ffffff rgba(255,255,255,1),rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    animation: light 3s infinite linear;
    -webkit-animation: light 3s infinite linear;
    -moz-animation: light 3s infinite linear;
    overflow: hidden;
}
.animation_btn1 {
  display: block;
  position: relative;
  overflow: hidden;
}
.animation_btn1:before {
    display: block;
    position: absolute;
    left: -20%;
    top: -20%;
    content: "";
    width: 25px;
    height: 140%;
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    background: linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)),color-stop(100%,rgba(255,255,255,0)));
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #ffffff rgba(255,255,255,1),rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    animation: light1 3s infinite linear;
    -webkit-animation: light1 3s infinite linear;
    -moz-animation: light1 3s infinite linear;
    overflow: hidden;
}
.animation_btn2 {
  display: block;
  position: relative;
  overflow: hidden;
}
.animation_btn2:before {
    display: block;
    position: absolute;
    left: -20%;
    top: -20%;
    content: "";
    width: 25px;
    height: 140%;
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    background: linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)),color-stop(100%,rgba(255,255,255,0)));
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #ffffff rgba(255,255,255,1),rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    animation: light2 3s infinite linear;
    -webkit-animation: light2 3s infinite linear;
    -moz-animation: light2 3s infinite linear;
    overflow: hidden;
}
.animation_btn3 {
  display: block;
  position: relative;
  overflow: hidden;
}
.animation_btn3:before {
    display: block;
    position: absolute;
    left: -20%;
    top: -20%;
    content: "";
    width: 25px;
    height: 140%;
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    background: linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)),color-stop(100%,rgba(255,255,255,0)));
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #ffffff rgba(255,255,255,1),rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    animation: light3 3s infinite linear;
    -webkit-animation: light3 3s infinite linear;
    -moz-animation: light3 3s infinite linear;
    overflow: hidden;
}
.animation_btn4 {
  display: block;
  position: relative;
  overflow: hidden;
}
.animation_btn4:before {
    display: block;
    position: absolute;
    left: -20%;
    top: -20%;
    content: "";
    width: 25px;
    height: 140%;
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    background: linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)),color-stop(100%,rgba(255,255,255,0)));
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #ffffff rgba(255,255,255,1),rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    animation: light4 3s infinite linear;
    -webkit-animation: light4 3s infinite linear;
    -moz-animation: light4 3s infinite linear;
    overflow: hidden;
}

@keyframes light {
	0% {
		left: -20%;
	}
	20% {
		left: 120%;
	}
	100% {
		left: 120%;
	}
}
@-webkit-keyframes light {
	0% {
		left: -20%;
	}
	20% {
		left: 120%;
	}
	100% {
		left: 120%;
	}
}
@-moz-keyframes light {
	0% {
		left: -20%;
	}
	20% {
		left: 120%;
	}
	100% {
		left: 120%;
	}
}
@keyframes light1 {
	0% {
		left: -20%;
	}
	20% {
		left: 120%;
	}
	100% {
		left: 120%;
	}
}
@-webkit-keyframes light1 {
	0% {
		left: -20%;
	}
	20% {
		left: 120%;
	}
	100% {
		left: 120%;
	}
}
@-moz-keyframes light1 {
	0% {
		left: -20%;
	}
	20% {
		left: 120%;
	}
	100% {
		left: 120%;
	}
}
@keyframes light2 {
	0% {
		left: -20%;
	}
	20% {
		left: -20%;
	}
  40% {
    left: 120%;
  }
	100% {
		left: 120%;
	}
}
@-webkit-keyframes light2 {
	0% {
		left: -20%;
	}
  20% {
		left: -20%;
	}
  40% {
    left: 120%;
  }
	100% {
		left: 120%;
	}
}
@-moz-keyframes light2 {
	0% {
		left: -20%;
	}
  20% {
		left: -20%;
	}
  40% {
    left: 120%;
  }
	100% {
		left: 120%;
	}
}
@keyframes light3 {
	0% {
		left: -20%;
	}
	40% {
		left: -20%;
	}
  60% {
    left: 120%;
  }
	100% {
		left: 120%;
	}
}
@-webkit-keyframes light3 {
	0% {
		left: -20%;
	}
  40% {
		left: -20%;
	}
  60% {
    left: 120%;
  }
	100% {
		left: 120%;
	}
}
@-moz-keyframes light3 {
	0% {
		left: -20%;
	}
  40% {
		left: -20%;
	}
  60% {
    left: 120%;
  }
	100% {
		left: 120%;
	}
}
@keyframes light4 {
	0% {
		left: -20%;
	}
	60% {
		left: -20%;
	}
  80% {
    left: 120%;
  }
	100% {
		left: 120%;
	}
}
@-webkit-keyframes light4 {
	0% {
		left: -20%;
	}
  60% {
		left: -20%;
	}
  80% {
    left: 120%;
  }
	100% {
		left: 120%;
	}
}
@-moz-keyframes light4 {
	0% {
		left: -20%;
	}
  60% {
		left: -20%;
	}
  80% {
    left: 120%;
  }
	100% {
		left: 120%;
	}
}
.arrow_box {
  top: 38%;
  position: absolute;
  right: 0;
}
.arrow_ico {
  fill: none;
  stroke: #053657;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.is-open .c-accordion__head .arrow_box {
  transform: rotate(180deg);
}
@keyframes bound {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
